include modules/main
  include modules/header
  body
  .container  
    .row.justify-content-center.text-center

      h3.my-3 Вы вошли как Администратор    
    a(href="/ajax/users") 
      img.mb-2.justify-content-center( src="img/userList.svg" width = "45" height="45") 
      span.mt-2.text-success Получить список пользователей
    
    table.table.table-bordered
      thead.thead-dark
        tr.text-center
          th(scope='col') Id
            a.ml-1( href='/admin?sort=id&direction=down' ) 
              img( src="img/sortdown.svg" width = "15" height="15")
            a( href='/admin?sort=id&direction=up' ) 
              img( src="img/sortup.svg" width = "15" height="15")    
          th(scope='col') Name
            a.ml-1(href='/admin?sort=name&direction=down' ) 
              img(src="img/sortdown.svg" width = "15" height="15") 
            a( href='/admin?sort=name&direction=up' ) 
              img( src="img/sortup.svg" width = "15" height="15")  
          th(scope='col') Login
            a.ml-1(href='/admin?sort=login&direction=down') 
              img(src="img/sortdown.svg" width = "15" height="15")
            a( href='/admin?sort=login&direction=up' ) 
              img( src="img/sortup.svg" width = "15" height="15") 
          th(scope='col') Password
          th(scope='col') Del


      for val in userList
        tbody
          tr.text-center
            th(scope='row')= val.id
            td= val.name
            td= val.login
            td= val.password 
            td= remove    
              a(id= val.login onclick= 'removeUser(id)') 
                img.justify-content-center(src="img/cancel.svg" width = "32" height="32")


    button.m-2.btn.btn-success(type='button' data-toggle='modal' data-target='#exampleModal') Добавить

  // Modal
  #exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog.modal-sm(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Add new user
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          .container-fluid
            .form-group
              label.col-form-label(for='exampleInputName') Name
              input#addInputName.form-control.form-control-sm(type='text' placeholder='Ivan')
              label.col-form-label(for='exampleInputLogin') Login
              input#addInputLogin.form-control.form-control-sm(type='text' placeholder='Vanek')
              label.col-form-label(for='exampleInputPassword') Password
              input#addInputPassword.form-control.form-control-sm(type='text' placeholder='***********')
        .modal-footer

          button.btn.btn-success.float-right(type='button' onclick = 'addNewUser()') Добавить  


    script(src="script.js")
  style
    include style.css
